* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --montserrat: "Montserrat", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 46, 48);
  padding: 20px 40px;
}

.header__logo-image {
  min-width: 250px;
}

.header__links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.header__links a {
  text-decoration: none;
  color: #fff;
  font-family: var(--open-sans);
  font-size: 18px;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 30px;
}

.apresentacao h2 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 30px;
}

.apresentacao h3 {
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 22px;
}
