* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --montserrat: "Montserrat", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 46, 48);
  padding: 20px 40px;
}

.header__logo-image {
  min-width: 250px;
}

.header__links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.header__links a {
  text-decoration: none;
  color: #fff;
  font-family: var(--open-sans);
  font-size: 18px;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 30px;
}

.apresentacao h2 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 30px;
}

.apresentacao h3 {
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 22px;
}

/* content */

.content {
  display: flex;
  width: 100vw;
  padding: 0 40px;
  gap: 40px;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.categoria__item--imagem img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.categoria__item h3 {
  font-family: var(--montserrat);
  font-size: 22px;
  font-weight: 400;
}

.categoria__item p {
  font-family: var(--open-sans);
  font-family: 18px;
}

/* categorias__extras*/

.categorias__extras {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #414041;
  text-align: center;
  padding: 10px;
}

.categorias__extras h2 {
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.categoria__extra--item {
  border-radius: 8px;
  width: 80%;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.categoria__extra--item img {
  width: 100%;
  border-radius: 8px;
}

.categoria__extra--item p {
  font-family: var(--montserrat);
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}
