* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: rgb(47, 46, 48);
  padding: 30px;
}

.header__logo {
  width: 180px;
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header__menu a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-bottom: 4px;
  border: 2px solid transparent;
  transition: 400ms;
}
.header__menu a:hover {
  border-bottom: 2px solid #fff;
}

/* sectionTitle */

.sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 0 30px;
}

.sectionTitle h2 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.sectionTitle p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: rgb(47, 46, 48);
}

/* mainContent */

.mainContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main__categoriaPrincipal main__categoriasExtras";
  padding: 30px;
  flex: 1 0 auto;
}

.main__categoriaPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: main__categoriaPrincipal;
}

.main__item {
  width: 280px;
  min-height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 400ms;
  cursor: pointer;
}

.main__item:hover {
  border-color: #000;
}

.main__item--img {
  width: 100%;
  padding: 2px;
  height: 180px;
  border-radius: 8px;
}

.main__item--title {
  font-family: Arial, sans-serif;
  padding: 6px;
  font-weight: normal;
  text-transform: uppercase;
}

.main__item--description {
  padding: 6px;
}

/* main__categoriaExtras */

.main__categoriasExtras {
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  grid-area: main__categoriasExtras;
  background-color: #393939;
}

.main__categoriaExtra--img {
  width: 100%;
  border-radius: 8px;
}

.main__categoriaExtra {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 400ms;
  cursor: pointer;
}

.main__categoriaExtra:hover {
  border-color: gainsboro;
}

.main__categoriaExtra--title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}

/* footer */

.footer {
  width: 100vw;
  min-height: 40px;
  background-color: rgb(47, 46, 48);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}

.footer__logo {
  width: 180px;
}

.footer__link {
  color: white;
  text-decoration: none;
}

/* mresponsividade */

@media (max-width: 692px) {
  .sectionTitle p {
    text-align: center;
  }
  .mainContent {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main__categoriaPrincipal"
      "main__categoriasExtras";
  }
  .main__item {
    min-width: 80%;
  }
}

@media (max-width: 475px) {
  .header {
    flex-direction: column;
    gap: 10px;
    min-height: 120px;
  }
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 390px) {
  .sectionTitle h2,
  .sectionTitle p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .mainContent {
    width: 100vw;
    padding: 0;
  }

  .main__item {
    width: 80%;
  }
  .main__item--description {
    font-size: 14px;
  }

  .main__categoriasExtras {
    padding: 0;
    padding-bottom: 20px;
  }
}
